<%= content_for :meta do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<body data-turbolinks="false">

<%= content_for :script do %>
  <script>var id = <%= @user_query.id %></script>
  <%= javascript_pack_tag 'force_reload' %>
  <%= javascript_pack_tag 'set_visit_time' %>
<% end %>

<div class='results-header'>
  <h2>Wyniki wyszukiwania dla zapytania "<%= @query.benefit %>, <%= @query.locality %>, <%= @query.province %>"</h2>
</div>

<% if @query_results.empty? %>

  <p>Dla tego wyszukiwania nie ma w tej chwili żadnych wyników. Damy Ci znać, jeśli się pojawią.<p>
  <br>
  <%= button_to "Powrót", queries_path, method: :get %>

<% else %>

  <div class="box-list">
    <%= render partial: "shared/result", collection: @query_results, locals: { user_query: @user_query } %>
  </div>

  <%= button_to "Powrót", queries_path, method: :get %>

<% end %>


